<html>
<head>
	{% load static %}
    <title>PICT | Staff Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% include 'student_app/head.html' %}
<link href="{% static 'student_app/css/navbar-fixed-left.min.css' %}" rel="stylesheet" />
<link href="{% static 'student_app/css/docs.css' %}" rel="stylesheet" />
<script src="{% static 'student_app/js/docs.js' %}"></script>
</head>
<body>
		{% include 'staff/navbar.html' %}
		<div class="container-fluid">
			<h1>
				Some content
			</h1>

		</div>
</body>
</html>