<html>
<head>
    {% load static %}
    <title>PICT | Student Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'student_app/head.html' %}
    <link href="{% static 'student_app/css/navbar-fixed-left.min.css' %}" rel="stylesheet" />
    <link href="{% static 'student_app/css/docs.css' %}" rel="stylesheet" />
    <script src="{% static 'student_app/js/docs.js' %}"></script>
    <link rel="stylesheet" href="{% static 'student_app/css/style.css' %}">
</head>
<body>
    {% include 'staff/navbar.html' %}
    <div class="container-fluid">
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success" role="alert">
          {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      <h3 class="text-center text-muted">{{ class|upper }}</h3>
      <form id="student-attendance" method="POST" action="{% url 'exam' class_name=class.name %}">
          {% csrf_token %}
          <table class="table table-hover table-striped">
            <thead class="">
                <tr>
                  <th scope="col"># Student ID</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col" style="width:  13%">Marks</th>
                </tr>
            </thead>
            <tbody class="">
                {% for student in students %}
                <tr>
                  <th scope="row">{{ student.student_id }}</th>
                  <td>{{ student.first_name }}</td>
                  <td>{{ student.last_name }}</td>
                  <td>
                      <input type="hidden" value="{{ student.student_id }}" name="student_list[]">
                      <div class="input-group">
                        <input type="number" class="form-control" name="mark_list[]">
                        <div class="input-group-append">
                            <span class="input-group-text">/30</span>
                        </div>
                      </div>
                  </td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
          <div class="row">
            <div class="col-md-2 col-sm-4">
                <select name="subject" class="form-control custom-select">
                  {% for subject in subjects %}
                  <option value="{{ subject }}">{{ subject }}</option>
                  {% endfor %}
                </select>
            </div>
            <div class="col-md-2 col-sm-4">
                <select name="exam" class="form-control custom-select">
                  <option value="unit1">Unit I</option>
                  <option value="unit2">Unit II</option>
                </select>
            </div>
            <button class="btn btn-outline-primary">Add Results</button>
          </div>
      </form>
    </div>
</body>
</html> 